.contact-page {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    color: #333;
    height:1000px;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

p {
    line-height: 1.6;
}

.contact-form label {
    display: block;
    margin-bottom: 5px;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form textarea {
    height: 150px;
}

.contact-form button {
    background-color: #7cd99f;
    color: #000000;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.contact-info,
.faq-section,
.feedback-section {
    margin-bottom: 30px;
    border-radius: 5px;
}

.contact-info h2,
.faq-section h2,
.feedback-section h2 {
    margin-bottom: 15px;
    font-size: 1.5em;
}

.contact-info p,
.faq-section p,
.feedback-section p {
    margin-bottom: 10px;
}

.contact-info a {
    color: #007bff;
    text-decoration: none;
    margin-right: 10px;
}

.contact-info a:hover {
    text-decoration: underline;
}

/* Responsive Layout */
@media (max-width: 768px) {
    .contact-page {
        padding: 10px;
    }

    .contact-form input[type="text"],
    .contact-form input[type="email"],
    .contact-form textarea {
        width: calc(100% - 20px);
    }
}